<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                       <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Join MapEditor</title>

    <!-- // IOS webapp icons // -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.css" />
    <link rel="stylesheet" href="css/bulma-extensions.min.css"/>
    

    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.1.1/firebaseui.js"></script>
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/rivet.js"></script>
    <script src="js/libs/gameutils.js"></script>
     <script src="https://d3js.org/d3.v4.min.js"></script>
    
    

    <script type="module">
        import {App} from './js/libs/App.js' 
        import {LatinSentences} from './js/libs/latin-sentences.js' 
        import {JoinController} from "./js/libs/JoinController.js";
        var app = new App();
        
        var joinController = new JoinController({appInstance: app});
        GameUtils.initializeRivetFormatters();

        rivets.bind(document.getElementById('joinController'), joinController);  
        window.joinControllerProxy = joinController;
        
    </script>
</head>
<body id="joinController"> 
    <section class="section">
    <div class="container is-fluid">
        <div class="columns is-centered">
            <div class="column is-one-quarter">                    
                    <div class="field">
                        <label class="label">Empire name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input rv-class-is-danger="model.validation.userEmpire.name | eq 0" rv-class-is-success="model.validation.userEmpire.name | eq 1" id="empireName" class="input" placeholder="Name your empire" rv-value="model.userEmpire.name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-flag"></i>
                            </span>
                            <span rv-if="model.validation.userEmpire.name | eq 0" id="empire-name-invalid" class="icon is-small is-right ">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span rv-if="model.validation.userEmpire.name | eq 1" id="empire-name-valid" class="icon is-small is-right ">
                              <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p rv-if="model.validation.userEmpire.name | eq 0" id="empire-name-invalid-2" class="help is-danger ">Empire name must contain at least 6 characters</p>
                    </div>
                    <div class="field">
                        <label class="label">Battle Cry</label>
                        <div class="control has-icons-left has-icons-right">
                            <input id="battleCry" class="input upperFirstLetter" placeholder="i.e. Audaces fortuna iuvat" rv-value="model.userEmpire.battleCry" rv-class-is-danger="model.validation.userEmpire.battleCry | eq 0" rv-class-is-success="model.validation.userEmpire.battleCry | eq 1">
                            <span class="icon is-small is-left">
                                <i class="fas fa-chess-rook"></i>
                            </span>
                            <span rv-if="model.validation.userEmpire.battleCry | eq 0" id="battle-cry-invalid-1" class="icon is-small is-right ">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                            <span rv-if="model.validation.userEmpire.battleCry | eq 1" id="battle-cry-valid" class="icon is-small is-right">
                              <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p rv-if="model.validation.userEmpire.battleCry | eq 0" id="battle-cry-invalid-2" class="help is-danger ">Battle cry must contain at least 2 characters</p>
                    </div>
                    <div class="is-divider" data-content="Your Account"></div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input id="email" class="input" type="email" placeholder="Email input" rv-value="model.user.email" rv-class-is-danger="model.validation.user.email | eq 0" rv-class-is-success="model.validation.user.email | eq 1">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span rv-if="model.validation.user.email | eq 0" id="email-invalid-1" class="icon is-small is-right ">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span>
                        <span rv-if="model.validation.user.email | eq 1" id="email-valid" class="icon is-small is-right">
                          <i class="fas fa-check"></i>
                        </span>
                    </div>
                    <p rv-if="model.validation.user.email | eq 0" id="email-invalid-2" class="help is-danger ">This email is invalid or already used</p>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <p class="control has-icons-left">
                        <input id="pass" class="input" type="password" placeholder="Password" rv-value="model.user.password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                
                
                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                          <input id="consent" type="checkbox" rv-value="model.user.consent">
                          I agree to the <a href="#">terms and conditions</a>
                        </label>
                    </div>
                    <p rv-if="model.validation.user.consent | eq 0" id="consents-invalid" class="help is-danger">Please accept terms and conditions</p>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button id="register" class="button is-link" onclick="joinControllerProxy.handleClickJoin()">Submit</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <p>Already registered ? Sign in <a href="login.html">here</a>.</p>
            </div>
        </div>
    </div>
    
    </section>

<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAloFJtk8JOkIpWMoVVnk8cCgq9KHQKNWU",
    authDomain: "hexapp-f82d4.firebaseapp.com",
    databaseURL: "https://hexapp-f82d4.firebaseio.com",
    projectId: "hexapp-f82d4",
    storageBucket: "hexapp-f82d4.appspot.com",
    messagingSenderId: "148861884860"
  };
  firebase.initializeApp(config);

  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    console.log("Logged");
  } else {
    // No user is signed in.
    console.log("Not logged");
  }
});
</script>
</body>
</html>