<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                       <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MapEditor</title>

    <!-- // IOS webapp icons // -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/ui.css"/>
    <link rel="stylesheet" href="css/map.css"/>    
    <link rel="stylesheet" href="css/map-editor.css"/>
    

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    
<!--     <script type="module" src="js/libs/BattleOutcome.js"></script>
    <script type="module" src="js/libs/Hex.js"></script>
    <script type="module" src="js/libs/Unit.js"></script>
 -->    
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/rivet.js"></script>
    <!-- <script src="js/libs/jquery-ui-1.10.4.min.js"></script> -->
    <script src="js/libs/gameutils.js"></script>
    <!-- <script src="js/drag/TweenMax.min.js"></script> -->
    <!-- <script src="js/drag/utils/Draggable.min.js"></script> -->
    <!-- <script src="js/libs/svg.min.js"></script>
     <script src="js/libs/svg.draggable.min.js"></script> -->
     <!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
     <script src="https://d3js.org/d3-selection.v1.min.js"></script>
     <script src="https://d3js.org/d3-drag.v1.min.js"></script> -->
     <script src="https://d3js.org/d3.v4.min.js"></script>
     <!-- <script src="js/libs/saveSvgAsPng.js"></script> -->

     
    
    

    <script type="module">
        console.log = function() {};
        import {MapEditor} from './js/libs/map-editor.js'  
        import {App} from  './js/libs/App.js'  

        var app = new App();

        app.initialized();

        d3.select('#sign-out').on('click', function(){
            app.userSignOut();
        });

        var mapAssets = {};
        mapAssets = {
            assets: [
                {
                    description: "Base catalog - DESERT tile",
                    catalog: "base",
                    displayId: "desert-tent",
                    resource: "base_v1.svg#layer1",
                    viewbox: "0 0 37.04 31.75"
                },
                {
                    description: "Base catalog - PLAINS WITH FORREST tile",
                    catalog: "base",
                    displayId: "plains-forrest",
                    resource: "base_v1.svg#layer1",
                    viewbox: "37.04 0 37.04 31.75"
                },
                {
                    description: "Base catalog - GLACIER tile",
                    catalog: "base",
                    displayId: "glacier-blank",
                    resource: "base_v1.svg#layer1",
                    viewbox: "74.08 0 37.04 31.75"
                },
                {
                    description: "Base catalog - OCEAN tile",
                    catalog: "base",
                    displayId: "ocean-blank",
                    resource: "base_v1.svg#layer1",
                    viewbox: "111.12 0 37.04 31.75"
                },
                {
                    description: "Base catalog - PLAINS with RIVER tile",
                    catalog: "base",
                    displayId: "plains-river",
                    resource: "base_v1.svg#layer1",
                    viewbox: "148.16 0 37.04 31.75"
                },
                {
                    description: "Base catalog - PLAINS with RIVER (2) tile",
                    catalog: "base",
                    displayId: "plains-river-2",
                    resource: "base_v1.svg#layer1",
                    viewbox: "185.2 0 37.04 31.75"
                },
                {
                    description: "Base catalog - MOUNTAIN tile",
                    catalog: "base",
                    displayId: "mountains-blank",
                    resource: "base_v1.svg#layer1",
                    viewbox: "222.24 0 37.04 31.75"
                },
                {
                    description: "Base catalog - PLAINS tile",
                    catalog: "base",
                    displayId: "plains-blank",
                    resource: "base_v1.svg#layer1",
                    viewbox: "259.28 0 37.04 31.75"
                },
                {
                    description: "Base catalog - HILLS tile",
                    catalog: "base",
                    displayId: "hills-blank",
                    resource: "base_v1.svg#layer1",
                    viewbox: "296.32 0 37.04 31.75"
                },
                {
                    description: "Base catalog - HILLS with FORREST tile",
                    catalog: "base",
                    displayId: "hills-forrest",
                    resource: "base_v1.svg#layer1",
                    viewbox: "333.36 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Center tile",
                    catalog: "base",
                    displayId: "district-center",
                    resource: "city_v1.svg#layer1",
                    viewbox: "0 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Commercial tile",
                    catalog: "base",
                    displayId: "district-commercial",
                    resource: "city_v1.svg#layer1",
                    viewbox: "37.04 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Industrial tile",
                    catalog: "base",
                    displayId: "district-industrial",
                    resource: "city_v1.svg#layer1",
                    viewbox: "74.08 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Science tile",
                    catalog: "base",
                    displayId: "district-science",
                    resource: "city_v1.svg#layer1",
                    viewbox: "111.12 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Suburbs tile",
                    catalog: "base",
                    displayId: "district-suburbs",
                    resource: "city_v1.svg#layer1",
                    viewbox: "148.16 0 37.04 31.75"
                },
                {
                    description: "Base catalog - CITY Agriculture tile",
                    catalog: "base",
                    displayId: "district-agriculture",
                    resource: "city_v1.svg#layer1",
                    viewbox: "185.2 0 37.04 31.75"
                }
            ]
        }

        var url_string = window.location.href
        var url = new URL(url_string);
        var rows = url.searchParams.get("rows") ? url.searchParams.get("rows"):2;
        var cols = url.searchParams.get("cols") ? url.searchParams.get("cols"):7;
        var mapName = url.searchParams.get("mapName") ? url.searchParams.get("mapName"):'';
        var mapId = url.searchParams.get("mapId") ? url.searchParams.get("mapId"):'';
        var scenarioId = url.searchParams.get("scenarioId") ? url.searchParams.get("scenarioId"):'';
        var mode = url.searchParams.get("mode") ? url.searchParams.get("mode"):'edit';


        

        if(!mapId){
            var tilesSpecification = GameUtils.generateEmptyTilesMapSpecification(parseInt(rows), parseInt(cols));

            var newMapSpecification = {
                cols: parseInt(cols),
                rows: parseInt(rows),
                mapName: mapName,
                tiles: tilesSpecification
            };

            GameUtils.save("mapSpecification", newMapSpecification);
            

            var loadedMapSpecification = GameUtils.load("mapSpecification");    
            var mapEditor = new MapEditor(null, null,loadedMapSpecification, mapAssets, null, mode);

            window.mapEditorProxy = mapEditor;

            rivets.bind(document.getElementById('app'), mapEditor);

            rivets.bind(document.getElementById('main-app'), app);

        }else if(mapId && scenarioId){
            app.backendLoadMap(mapId).then(function(mapElement){
                console.log('Loaded map',mapElement);

                // // when map is public or has been requested a public review then one cannot edit the map
                // if(mapElement.isPublic == -1 || mapElement.isPublic==1){
                //     console.log("Map is public so edit is not allowed.")
                //     window.location.replace("/Manage.html");
                // }

                var loadedMapSpecification = mapElement.mapSpecification;
                var eventHandlersArray = [];

                var appHandler = {
                    hObject: app,
                    hFunction: app.handleEditorEvent
                };
                eventHandlersArray.push(appHandler);

                app.backendLoadScenario(scenarioId).then(function(scenario){

                    var mapEditor = new MapEditor(eventHandlersArray, mapElement.mapId, loadedMapSpecification, mapAssets, scenarioId, mode, scenario.deploymentSpecification,scenario.victoryConditions );
                    window.mapEditorProxy = mapEditor;

                    rivets.bind(document.getElementById('app'), mapEditor);   
                    rivets.bind(document.getElementById('app2'), mapEditor);    

                    rivets.bind(document.getElementById('nav'), {kind: mode, back: scenarioId, backName: scenario.name});   
                    rivets.bind(document.getElementById('main-app'), app); 
                });

                
                
            });
        }
        else{
            app.backendLoadMap(mapId).then(function(mapElement){
                console.log('Loaded map',mapElement);

                // when map is public or has been requested a public review then one cannot edit the map
                if(mapElement.isPublic == -1 || mapElement.isPublic==1){
                    console.log("Map is public so edit is not allowed.")
                    window.location.replace("/Manage.html");
                }

                var loadedMapSpecification = mapElement.mapSpecification;
                var eventHandlersArray = [];

                var appHandler = {
                    hObject: app,
                    hFunction: app.handleEditorEvent
                };
                eventHandlersArray.push(appHandler);

                var mapEditor = new MapEditor(eventHandlersArray, mapElement.mapId, loadedMapSpecification, mapAssets, null,  mode);
                window.mapEditorProxy = mapEditor;

                rivets.bind(document.getElementById('app'), mapEditor);
                rivets.bind(document.getElementById('app2'), mapEditor);
                rivets.bind(document.getElementById('nav'), {kind: mode, backName: mapElement.mapName});    
                rivets.bind(document.getElementById('main-app'), app);
            });
        }

        GameUtils.initializeRivetFormatters();

        
        

        


    </script>

     
</head>
<body class="has-navbar-fixed-top"> 
    <section class="section">
    <div class="container is-fluid">
        <div class="notification is-primary is-hidden operation-success">          
          Operation performed successfully.
        </div>
        <div class="notification is-danger is-hidden operation-failure">          
          Something went wrong.
        </div>
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <nav id="nav" class="breadcrumb" aria-label="breadcrumbs">
                        <ul rv-if="kind | eq 'deployment'">
                            <li>
                                <a href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Scenarios.html">
                                    <!-- <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span> -->
                                    <span>Scenarios</span>
                                </a>
                            </li>
                            <li>
                                <a rv-href="back | hrefBuilder 'ScenarioEditor.html?scenarioId=@value'" />
                                    <!-- <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span> -->
                                    <span>{backName}</span>
                                </a>
                            </li>                
                            <li class="is-active"><a href="#" aria-current="page">Deployment Specification</a></li>                
                        </ul>
                        <ul rv-if="kind | eq 'victory'">
                            <li>
                                <a href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Scenarios.html">
                                    <!-- <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span> -->
                                    <span>Scenarios</span>
                                </a>
                            </li>
                            <li>
                                <a rv-href="back | hrefBuilder 'ScenarioEditor.html?scenarioId=@value'" />
                                    <!-- <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span> -->
                                    <span>{backName}</span>
                                </a>
                            </li>                
                            <li class="is-active"><a href="#" aria-current="page">Victory Specification</a></li>                
                        </ul>
                        <ul rv-if="kind | eq 'edit'">
                            <li>
                                <a href="/">
                                    <span class="icon is-small">
                                        <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Manage.html">                                    
                                    <span>Maps</span>
                                </a>
                            </li>                            
                            <li class="is-active"><a href="#" aria-current="page">{backName}</a></li>                
                        </ul>
                    </nav> 
                </div>
            </div>
            <div id="app2" class="level-right">
                <div rv-if="model.editMode | eq 'edit'"  class="level-item">
                    <div><!-- <button onclick="mapEditorProxy.downloadMap()" class="map-editor-attribute button is-primary">Download map</button> -->
                        <a onclick="mapEditorProxy.downloadMap()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="fas fa-download"></i>
                          </span>
                          <span>Download</span>
                        </a>

                        <a onclick="mapEditorProxy.saveMap()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="far fa-save"></i>
                          </span>
                          <span>Save</span>
                        </a>                    
                    </div>  
                </div>  
                <div rv-if="model.editMode | eq 'deployment'"  class="level-item">
                    <div><!-- <button onclick="mapEditorProxy.downloadMap()" class="map-editor-attribute button is-primary">Download map</button> -->                    
                        <a onclick="mapEditorProxy.saveScenarioDeployment()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="far fa-save"></i>
                          </span>
                          <span>Save</span>
                        </a>    
                        <a onclick="mapEditorProxy.navigateBackToScenario()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="fas fa-arrow-left"></i>
                          </span>
                          <span>Back to scenario</span>
                        </a>                     
                    </div> 
                </div> 
                <div rv-if="model.editMode | eq 'victory'"  class="level-item">
                    <div><!-- <button onclick="mapEditorProxy.downloadMap()" class="map-editor-attribute button is-primary">Download map</button> -->                    
                        <a onclick="mapEditorProxy.saveScenarioVictoryConditions()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="far fa-save"></i>
                          </span>
                          <span>Save</span>
                        </a> 
                        <a onclick="mapEditorProxy.navigateBackToScenario()" class="button is-primary" >
                          <span class="icon">                        
                            <i class="fas fa-arrow-left"></i>
                          </span>
                          <span>Back to scenario</span>
                        </a>                       
                    </div> 
                </div>   
            </div>
        </nav>     
        <div id="app"  class="columns">            
            <div class="map-editor-hexes column is-three-quarters"></div>

            <!-- START - edit mode -->
            <div rv-if="model.editMode | eq 'edit'" class="map-editor-toolbar column">
                <div class="map-editor-name map-editor-attribute field">
                    <label for="tile-movement-cost" class="label">Map name</label>
                    <div class="control">
                        <input type="text" id="map-name" class="map-editor-attribute input" placeholder="Name your map here (6 chars or more)" minlength="6" maxlength="256" size="40">
                    </div>
                </div>
                <div class="map-editor-tile-selector map-editor-attribute field">
                    <label for="tile-fill-select" class="label">Tile graphical asset</label>
                    <div class="control">
                        <select id="tile-fill-select" class="map-editor-attribute input">
                            <option value="">--Please choose an option--</option>
                            <!-- 
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                            <option value="parrot">Parrot</option>
                            <option value="spider">Spider</option>
                            <option value="goldfish">Goldfish</option> -->
                        </select>
                    </div>
                </div>
                <div class="map-editor-tile-selector map-editor-attribute field">
                    <label for="tile-terrain-type-select" class="label">Tile terrain type</label>
                    <div class="control">
                        <select id="tile-terrain-type-select" class="map-editor-attribute input" disabled>
                            <option value="">--Please choose an option--</option>
                            
                            <option value="DESERT">DESERT</option>                    
                            <option value="DISTRICT">DISTRICT</option>                    
                            <option value="GLACIER">GLACIER</option>
                            <option value="HILLS">HILLS</option>
                            
                            <option value="MOUNTAINS">MOUNTAINS</option>
                            <option value="OCEAN">OCEAN</option>
                            <option value="PLAINS">PLAINS</option>

                            
                        </select>
                    </div>
                </div>
                
                
                <div class="map-editor-movement-selector map-editor-attribute field">
                    <label for="tile-movement-cost" class="label">Tile movement cost</label>
                    <div class="control">
                        <input type="number" id="tile-movement-cost" class="map-editor-attribute input" min="0" max="100" step="0.01" disabled>
                    </div>
                </div>
                <div class="map-editor-sight-selector map-editor-attribute field">
                    <label for="tile-sight-cost" class="label">Tile sight cost</label>
                    <div class="control">
                        <input type="number" id="tile-sight-cost" class="map-editor-attribute input" min="0" max="100" step="0.01" disabled>
                    </div>
                </div>
                <div class="map-editor-defence-selector map-editor-attribute field">
                    <label for="tile-defence-bonus" class="label">Tile defence multiplier</label>
                    <div class="control">
                        <input type="number" id="tile-defence-bonus" class="map-editor-attribute input" min="-10" max="10" step="0.01" disabled>
                    </div>
                </div>
                                          
            </div>
            <!--  END - edit mode   -->
            <!-- START - deployment mode -->
            <div rv-if="model.editMode | eq 'deployment'" class="map-editor-toolbar column">
                <div class="field">
                    <label for="tile-deployment-select" class="label">Party deployment select</label>
                    <div class="control">
                        <select id="tile-deployment-select" class="input">
                            <option value="">--Please choose an option--</option>
                            <option value="blue">Blue Deployment Area</option>
                            <option value="red">Red Deployment Area</option>                            
                        </select>
                    </div>
                </div>
                                          
            </div>
            <!--  END - deployment mode   -->
            <!-- START - victory mode -->
            <div rv-if="model.editMode | eq 'victory'" class="map-editor-toolbar column">
                <h3 class="title is-3">Red victory conditions</h3>
                <div class="field">
                    
                    <label for="tile-deployment-select" class="label"><span class="tag victory-primary-red"></span> Primary target</label>


                    <div class="tags has-addons">
                      <span class="tag">Status</span>
                      <span rv-if="model.victoryConditionsHolder.red.primaryVictoryCondition | emptyObject" class="tag is-danger">Needs configuration</span>
                      <span rv-if="model.victoryConditionsHolder.red.primaryVictoryCondition | notEmptyObject" class="tag is-primary">OK</span>
                      
                    </div>
                    <div class="control">
                        <a rv-if="model.victoryConditionsHolder.red.primaryVictoryCondition | emptyObject" onclick="mapEditorProxy.markTileAsPrimaryVictoryCondition('red')" class="button is-active is-warning ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Configure</span>                            
                        </a> 
                        <a rv-if="model.victoryConditionsHolder.red.primaryVictoryCondition | notEmptyObject" onclick="mapEditorProxy.markTileAsPrimaryVictoryCondition('red')" class="button is-active">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Modify</span>                            
                        </a>   
                    </div>
                </div>
                <div class="field">
                    <label for="tile-deployment-select" class="label"><span class="tag victory-secondary-red"></span> Secondary target</label>
                    <div class="tags has-addons">
                      <span class="tag">Status</span>
                      <span rv-if="model.victoryConditionsHolder.red.secondaryVictoryCondition | emptyObject" class="tag is-danger">Needs configuration</span>
                      <span rv-if="model.victoryConditionsHolder.red.secondaryVictoryCondition | notEmptyObject" class="tag is-primary">OK</span>
                      
                    </div>
                    <div class="control">
                        <a rv-if="model.victoryConditionsHolder.red.secondaryVictoryCondition | emptyObject" onclick="mapEditorProxy.markTileAsSecondaryVictoryCondition('red')" class="button is-active is-warning ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Configure</span>                            
                        </a>   
                        <a rv-if="model.victoryConditionsHolder.red.secondaryVictoryCondition | notEmptyObject" onclick="mapEditorProxy.markTileAsSecondaryVictoryCondition('red')" class="button is-active ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Modify</span>                            
                        </a>
                    </div>
                </div>
                <h3 class="title is-3">Blue victory conditions</h3>
                <div class="field">
                    <label for="tile-deployment-select" class="label"><span class="tag victory-primary-blue"></span> Primary target</label>
                    <div class="tags has-addons">
                      <span class="tag">Status</span>
                      <span rv-if="model.isDeploymentConfigured" class="tag is-primary">OK</span>
                      <span rv-if="model.isDeploymentConfigured | neq true" class="tag is-danger">Needs configuration</span>
                    </div>
                    <div class="control">
                        <a rv-if="model.victoryConditionsHolder.blue.primaryVictoryCondition | emptyObject" onclick="mapEditorProxy.markTileAsPrimaryVictoryCondition('blue')" class="button is-active is-warning">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span rv-if="model.isDeploymentConfigured | neq true">Configure</span>
                            <span rv-if="model.isDeploymentConfigured">Modify</span>
                        </a>   
                        <a rv-if="model.victoryConditionsHolder.blue.primaryVictoryCondition | notEmptyObject" onclick="mapEditorProxy.markTileAsPrimaryVictoryCondition('blue')" class="button is-active ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span rv-if="model.isDeploymentConfigured | neq true">Configure</span>
                            <span rv-if="model.isDeploymentConfigured">Modify</span>
                        </a>   
                    </div>
                </div>
                <div class="field">
                    <label for="tile-deployment-select" class="label"><span class="tag victory-secondary-blue"></span> Secondary target</label>
                    <div class="tags has-addons">
                      <span class="tag">Status</span>
                      <span rv-if="model.isDeploymentConfigured" class="tag is-primary">OK</span>
                      <span rv-if="model.isDeploymentConfigured | neq true" class="tag is-danger">Needs configuration</span>
                    </div>
                    <div class="control">
                        <a rv-if="model.victoryConditionsHolder.blue.secondaryVictoryCondition | emptyObject"onclick="mapEditorProxy.markTileAsSecondaryVictoryCondition('blue')" class="button is-active is-warning ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span rv-if="model.isDeploymentConfigured | neq true">Configure</span>
                            <span rv-if="model.isDeploymentConfigured">Modify</span>
                        </a> 
                        <a rv-if="model.victoryConditionsHolder.blue.secondaryVictoryCondition | notEmptyObject"onclick="mapEditorProxy.markTileAsSecondaryVictoryCondition('blue')" class="button is-active ">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span rv-if="model.isDeploymentConfigured | neq true">Configure</span>
                            <span rv-if="model.isDeploymentConfigured">Modify</span>
                        </a>   
                    </div>
                </div>                      
            </div>
            <!--  END - victory mode   -->
        </div>
    </div>    
    </section>
    <nav id="main-app" class="navbar is-transparent is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="/assets/png/g6.png" alt="Hex - Empires at War" width="32" height="32">
            </a>
        </div>
          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="Manage.html">
                Maps
              </a>
              <a class="navbar-item"  href="Scenarios.html">
                Scenarios
              </a>              
            </div>

            <div class="navbar-end">
                <a class="navbar-item">
                    <span id="user-name">{model.user.email}</span>
                </a>
              <div class="navbar-item">
                <div class="field is-grouped">                  
                  <p class="control">
                    <a id="sign-out" class="button is-primary" href="https://github.com/jgthms/bulma/releases/download/0.7.2/bulma-0.7.2.zip">
                      <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                      </span>
                      <span>Sign out</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>

        

<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAloFJtk8JOkIpWMoVVnk8cCgq9KHQKNWU",
    authDomain: "hexapp-f82d4.firebaseapp.com",
    databaseURL: "https://hexapp-f82d4.firebaseio.com",
    projectId: "hexapp-f82d4",
    storageBucket: "hexapp-f82d4.appspot.com",
    messagingSenderId: "148861884860"
  };
  firebase.initializeApp(config);


</script>
</body>
</html>