<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7 no-js"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8 no-js">      <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9 no-js">           <![endif]-->
<!--[if gt IE 9]>  <html class="no-js">                       <![endif]-->
<!--[if !IE]><!--> <html class="no-js">                       <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Manage Scenarios</title>

    <!-- // IOS webapp icons // -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="css/ui.css"/>
    <link rel="stylesheet" href="css/map.css"/>    
    <link rel="stylesheet" href="css/map-editor.css"/>
    <link rel="stylesheet" href="css/bulma-extensions.min.css"/>
    

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    
    
<!--     <script type="module" src="js/libs/BattleOutcome.js"></script>
    <script type="module" src="js/libs/Hex.js"></script>
    <script type="module" src="js/libs/Unit.js"></script>
 -->    
    <script src="js/libs/jquery-3.3.1.min.js"></script>
    <script src="js/libs/rivet.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="js/libs/jquery-ui-1.10.4.min.js"></script> -->
    <script src="js/libs/gameutils.js"></script>
    <!-- <script src="js/drag/TweenMax.min.js"></script> -->
    <!-- <script src="js/drag/utils/Draggable.min.js"></script> -->
    <!-- <script src="js/libs/svg.min.js"></script>
     <script src="js/libs/svg.draggable.min.js"></script> -->
     <!-- <script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
     <script src="https://d3js.org/d3-selection.v1.min.js"></script>
     <script src="https://d3js.org/d3-drag.v1.min.js"></script> -->
     
     <!-- <script src="js/libs/saveSvgAsPng.js"></script> -->

     <script type="text/javascript" src="js/libs/bulma-extensions.min.js"></script>

     
    
    

    <script type="module">
        // console.log = function() {};

        import {MapEditor} from './js/libs/map-editor.js'  
        import {App} from  './js/libs/App.js'  

        // initialize bulmaTagsinput
        var tagsInputs = bulmaExtensions.bulmaTagsinput.attach();

        var app = new App();
        app.initialized();

        d3.select('#sign-out').on('click', function(){
            app.userSignOut();
        });
        window.appProxy = app;

        GameUtils.initializeRivetFormatters();

        rivets.bind(document.getElementById('app'), app);


    </script>

     
</head>
<body id="app" class="has-navbar-fixed-top"> 
    <section class="section">
    <div class="container is-fluid">
        <div class="notification is-primary is-hidden operation-success">          
          Operation performed successfully.
        </div>
        <div class="notification is-danger is-hidden operation-failure">          
          Something went wrong.
        </div>
        <div class="columns">
            <div class="column is-four-fifths">
                <p class="title is-3">Manage scenarios</p>
                <p class="subtitle is-6">Create, edit and share your scenarios</p>

                <table class="table is-fullwidth is-striped is-hoverable">
                    <thead>
                        <tr>
                            
                            <th>Scenario name</th>                            
                            <th>Created</th>
                            <th>Modified</th>                            
                            <th>Turns</th>
                            <th>Power Index</th>
                            <th>Tags</th>
                            <th>Action</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr rv-each-userscenario="model.scenarios">
                            
                            <th class="is-size-6">{userscenario.name}</th>                            
                            <td><span class="is-size-7">{userscenario.created | fromTimestamp}</span></td>
                            <td><span class="is-size-7">{userscenario.modified | fromTimestamp}</span></td>
                            <td class="is-size-7">{userscenario.turns}</td>
                            <td class="is-size-7">{userscenario.powerIndex}</td>
                            <td>
                                <span rv-each-scenariotag="userscenario.tags | split">
                                  <span class="tag">{scenariotag}</span>                                    
                                </span>                                
                            </td>
                            <td>
                                <!-- href="MapEditor.html?mapId={usermap.mapId} -->
                                <a  rv-if="userscenario.isPublic | eq 0" class="button is-small" rv-href="userscenario.scenarioId | hrefBuilder 'ScenarioEditor.html?scenarioId=@value'">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>

                                <a  rv-if="userscenario.isPublic  | neq 0" class="button is-small" disabled >
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>

                                <a class="button is-small" rv-onclick="userscenario.scenarioId | variableBuilder 'appProxy.scenarioClone('@value')'">
                                    <span class="icon">
                                        <i class="far fa-copy"></i>
                                    </span>
                                    <span>Clone</span>
                                </a>
                                                                
                                <a rv-if="userscenario.isPublic | eq 0" class="button is-danger is-small" rv-ondblclick="userscenario.scenarioId | variableBuilder 'appProxy.scenarioDelete('@value')'">
                                    <span class="icon">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                    <span>Delete</span>
                                </a>

                                <a rv-if="userscenario.isPublic | eq 0" class="button is-warning is-small" rv-onclick="userscenario.scenarioId | variableBuilder 'appProxy.scenarioRequestPublic('@value')'">
                                    <span class="icon">
                                        <i class="fas fa-star"></i>
                                    </span>
                                    <span>Request public</span>
                                </a>

                                <a rv-if="userscenario.isPublic | neq 0" class="button is-danger is-small" disabled >
                                    <span class="icon">
                                        <i class="far fa-trash-alt"></i>
                                    </span>
                                    <span>Delete</span>
                                </a>
                                
                                
                                <span rv-if="userscenario.isPublic | eq 1" class="tag is-warning"><i class="fas fa-star"></i>This scenario is Public !</span>
                                <span rv-if="userscenario.isPublic | eq -1" class="tag is-info"><i class="fas fa-star"></i>Under review</span>

                                <a class="button is-success is-small" rv-href="userscenario.scenarioId | variableBuilder '/Play.html?scenarioId=@value'">
                                    <span class="icon">
                                        <i class="far fa-play-circle"></i>
                                    </span>
                                    <span>Play</span>
                                </a>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <div class="column">     
                <div>
                    <a onclick="appProxy.scenarioCreateStepOne('scenario-create-modal')" class="map-editor-attribute button is-primary" >
                      <span class="icon">                        
                        <i class="far fa-plus-square"></i>
                      </span>
                      <span>Add new scenario</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <div id="scenario-create-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Create new scenario</p>
                <button onclick="appProxy.scenarioCreateStepOneCancel('scenario-create-modal')" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="field">
                    <label for="map-create-name" class="label">Scenario name</label>
                    <div class="control">
                        <input type="text" id="scenario-create-name" rv-value="model.scenarioHolder.name" class="input" placeholder="Name your scenario here (6 chars or more)" minlength="6" maxlength="256" size="40">
                    </div>
                </div>
                <div class="field">
                    <label for="scenario-create-turns" class="label">No of turns</label>
                    <div class="control">
                        <input type="number" id="scenario-create-turns" rv-value="model.scenarioHolder.turns" class="input" min="3" max="40" step="1" value="15" size="2" placeholder="15">
                    </div>
                </div>
                <div class="field">
                    <label for="scenario-create-powerindex" class="label">Power Index</label>
                    <div class="control">
                        <input type="number" id="scenario-create-powerindex" rv-value="model.scenarioHolder.powerIndex" class="input" min="1" step="1" value="100" size="5"  placeholder="100">
                    </div>
                </div>
                <div class="field">
                    <label for="scenario-create-tags" class="label">Tags</label>
                    <div class="control">
                        <input id="scenario-create-tags" class="input" type="tags" placeholder="Add Tag" value="">
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button onclick="appProxy.scenarioCreateStepTwo('scenario-create-modal')" class="button is-success">Create</button>
                <button onclick="appProxy.scenarioCreateStepOneCancel('scenario-create-modal')" class="button">Cancel</button>
            </footer>
        </div>
    </div>
    <nav class="navbar is-transparent is-fixed-top">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="/assets/png/g6.png" alt="Hex - Empires at War" width="32" height="32">
            </a>          
        </div>
          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item"  href="Manage.html">
                Maps
              </a>
              <a class="navbar-item is-active"  href="Scenarios.html">
                Scenarios
              </a>              
            </div>

            <div class="navbar-end">
                <a class="navbar-item">
                    <span id="user-name">{ model.user.email }</span>
                </a>
              <div class="navbar-item">
                <div class="field is-grouped">                  
                  <p class="control">
                    <a id="sign-out" class="button is-primary">
                      <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                      </span>
                      <span>Sign out</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>

<script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAloFJtk8JOkIpWMoVVnk8cCgq9KHQKNWU",
    authDomain: "hexapp-f82d4.firebaseapp.com",
    databaseURL: "https://hexapp-f82d4.firebaseio.com",
    projectId: "hexapp-f82d4",
    storageBucket: "hexapp-f82d4.appspot.com",
    messagingSenderId: "148861884860"
  };
  firebase.initializeApp(config);

  firebase.auth().onAuthStateChanged(function(user) {
  if (user) {
    console.log("Logged",user);
    var userLogin = user.email;
    d3.select('#user-name').html(userLogin);
  } else {
    // No user is signed in.
    console.log("Not logged");
  }
});
</script>
</body>
</html>